.navbar {
    height: 5rem;
    width: 99vw;
    max-width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center; /* Adjusted for layout */
    position: sticky;
    top: 0;
    z-index: 3;
    background-image: linear-gradient(to right, #191f40, #232d61, #191f40);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 2rem;
    cursor: pointer; /* Make the logo clickable */
    transition: all 0.3s ease-in-out; /* Smooth transition for visual feedback */
}

.desktopMenuListItem {
    margin: 2rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
}

.desktopMenuListItem:hover, .active {
    color: #01C38D;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #01C38D;
}

/* Burger Menu Styling - adjusted to use the logo as the toggle */
.burgerMenu {
    display: none; /* Initially hidden, shown in mobile view */
    cursor: pointer;
}

/* Original burger bars are hidden in mobile view */
.burgerMenu .bar {
    display: none;
}

@media (max-width: 900px) {
    #navbar {
        margin: 1rem 0;
    }
    
    .desktopMenu {
        display: none;
    }

    .desktopMenu.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 5rem;
        right: 0;
        background-color: #000; /* Match navbar background */
        padding: 1rem;
        width: 100%;
        box-shadow:0 4px 2px -2px rgba(0,0,0,5);
    }

    .burgerMenu {
        display: block; /* Shows the burger menu (logo) in mobile view */
    }

    .logo {
        object-fit: cover;
        height: 4.5rem;
        width: 4.5rem;
        margin: 0 2rem;
        cursor: pointer; /* Make the logo clickable */
        box-shadow: 0 12px 6px 0 rgba(0,0,0,0.25); /* Drop shadow for button indication */
        transition: all 0.3s ease-in-out; /* Smooth transition for visual feedback */
    }
}
