*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Barlow', sans-serif;
}

body {
    background-image: linear-gradient(to right, #191f40, #232d61, #191f40);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}
