#intro {
    height: calc(100vh - 10rem);
    width: 100vw;
    max-width: 70vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    top: 0rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 85vh;
    width: auto;
    border-radius: 15px;
    margin-top: -2rem;
}

.introContent {
    height: 100vh;
    width: 80vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.5rem;
    font-weight: 300;
}

.introText {
    margin-top: 0.75rem;
}

.introName {
    color: #01C38D;
}

.introParagraph {
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 0.75rem;
    white-space: pre-line;
    width: 36vw;
}

.btn {
    background: transparent;
    margin: 1rem 0;
    padding: 0.5rem 1.5rem;
    border-color: #961c8b;
    border-width: 6px;
    color: #01C38D;
    border-radius: 3rem;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.5rem;
    height: 1.5rem;
}

.btn:hover {
    background: #961c8b;
    border-color: #bf71b9;
}


@media screen and (max-width:1125px){
    #intro {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centers horizontally in a column layout */
        justify-content: center; /* Centers vertically */
        height: auto; /* Adjust to fit content */
        width: 100vw; /* Ensures the container takes up the full viewport width */
        padding: 2rem 0; /* Adds some padding on top and bottom, adjust as needed */
    }
    
    .introContent {
        width: 80vw; /* Control the width of your content here */
        max-width: 70vw; /* You can set a max-width to ensure it doesn't get too wide on larger screens within this query range */
        height: auto; /* Allows the content height to adjust based on its content */
        padding: 2rem; /* Maintains padding */
        display: flex; /* Ensures flex layout for its children */
        flex-direction: column; /* Stacks children vertically */
        justify-content: center; /* Center children vertically if there's extra space */
        align-items: center; /* Center children horizontally */
    }
    
    .hello, .introText, .introParagraph {
        text-align: center;
        width: 100%;
    }

    .introParagraph {
        font-size: 1.8rem;
        white-space: normal;
    }

    .bg {
        position: relative;
        top: auto;
        right: auto;
        transform: none;
        width: 60vw; /* Set to 100% of its container for full width */
        max-width: 60vw; /* Adjust max-width to control the size, keeping aspect ratio */
        height: auto; /* Maintains aspect ratio */
        z-index: auto;
        margin-top: 2rem; /* Adds some space between the content and the image */
    }
}


