#projects {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.projectsTitle {
    font-size: 3rem;
    font-weight: 600;
    padding: 3rem;
    margin-bottom: 1rem;
}

.projectsDescription {
    font-weight: 300;
    font-size: 1.5rem;
    max-width: 80vw;
    padding: 0 2rem;
}

.projectsImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 75rem;
    margin: 1.5rem;
}

.projectItem {
    position: relative;
    margin: .5rem;
    flex-basis: calc(50% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure labels do not overflow the image container */
    border-radius: 1rem; /* Optional: to match image border-radius */
}

.projectsImg {
    object-fit: cover;
    height: 27rem;
    width: 100%;
    border-radius: 1rem;
}

.projectLabel {
    position: absolute;
    color: white; /* Your specified color */
    font-size: 1.5rem; /* Adjust as needed */
    font-weight: 700;
    text-align: center;
    width: 100%;
    bottom: 0; /* Position at the bottom or center as preferred */
    background-color: #961c8b; /* Optional: background to enhance readability */
    padding: 0.5rem 0; /* Adjust padding for better appearance */
}

@media screen and (max-width:1184px) {
    .projectsImgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 70rem;
    }
    
    .projectsImg {
        height: 60%;
        width: 80%;
        flex-basis: calc(50% - 1rem);
        border-radius: 1rem;
    }
    
    .projectItem {
        height: 60%;
        width: 80%;
        flex-basis: calc(50% - 1rem);
        border-radius: 1rem;
    }
    .projectLabel {
        width: 80%;
        flex-basis: calc(50% - 1rem);
        border-radius: 0 0 1rem 1rem;
    }
}