#contactSection {
    margin: 2rem auto;
    width: 100vw;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.contactTitle {
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem;
    margin-bottom: 1rem;
}

.contactDescription {
    font-weight: 300;
    font-size: 1.5rem;
    max-width: 48vw;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.contactForm {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 70vw;
}

.name, .email, .message {
    font-size: 1.25rem;
    font-weight: 200;
    min-height: 2.5rem;
    width: 100%;
    max-width: 50rem;
    margin: 0.5rem 0;
    padding: 1rem;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(40, 40, 40);
}

.submitBtn {
    background: transparent;
    margin: 1rem 0;
    padding: 0.5rem 1.5rem;
    border-color: #961c8b;
    border-width: 6px;
    color: #01C38D;
    border-radius: 3rem;
    font-size: 2rem;
    font-weight:600;
    text-align: center;
}

.submitBtn:hover {
    background: #961c8b;
    border-color: #bf71b9;
}
